---
import type { Song } from "@/types"
interface Props extends Song {}

const { author, cover, title } = Astro.props
---

<article
  class="bg-gray-1 p-4 hover:bg-gray-2 focus:bg-gray-2 transition-colors flex items-center gap-4"
>
  <img src={cover} alt={title} width="50" height="50" class="aspect-square" />

  <div class="flex flex-col gap-2">
    <span class="font-bold">{title}</span>
    <span class="font-medium text-xs">{author}</span>
  </div>
</article>
