---
import MainLayout from "@/layouts/MainLayout.astro"
import ArtistsList from "@/components/ArtistsList.astro"
---

<MainLayout
  title="Discover artists and songs"
  description="Discover artists and songs"
>
  <h1>Artists</h1>

  <ArtistsList />
</MainLayout>
